@import '~@playkit-js/playkit-js-ui';

.toastWrapper {
    position: relative;
    min-width: 120px;
    max-width: 310px;
    height: 100%;
    border-radius: 4px;
    background-color: #222222;
    border-left-style: solid;
    border-left-width: 2px;
    text-align: left;
    padding: 8px;
  }

  .infoToast {
    border-left-color: $primary-color;
  }

  .successToast {
    border-left-color: $success-color;
  }

  .warnToast {
    border-left-color: $warning-color;
  }

  .errorToast {
    border-left-color: $danger-color;
  }

  .closeButton {
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    object-fit: contain;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    margin-top: 8px;
    margin-right: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  .title {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: $tone-1-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-right: 16px;
  }

  .toastBody {
    position: relative;
    width: 100%;
    padding: 0px 16px 5px 0px;
    margin-top: 8px;
  }

  .iconContainer {
    position: relative;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 7px;
  }

  .iconWrapper {
    height: 16px;
    width: 16px;
  }

  .text {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $tone-1-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

