@import '~@playkit-js/playkit-js-ui';

.more-dropdown {
  position: absolute;
  padding: 8px 4px;
  width: 200px;  // replace to min-width and grow with text
  background-color: $tone-7-color;
  border-radius: 4px;
  top: 44px;
  right: 0;
  overflow: hidden;
}