.more-dropdown {
  position: absolute;
  color: white;
  padding: 5px;
  width: 166px;
  background-color: #222222;
  border-radius: 4px;
  top: 120%;
  right: 0;

  .dropdown-item {
    border-radius: 4px;
    padding: 2px 0;
    display: flex;
    margin: 2px 0;

    // '.icon' should be replaced with our spec icon control selector
    & .icon {
      width: 26px;
      height: 26px;
      background-color: transparent;
    }

    // '.icon' should be replaced with our spec icon control selector
    //&:hover, &:hover .icon {
    &:hover {
      background-color: #444444;
    }

    .dropdown-item-description {
      display: flex;
      flex: 1;
      font-size: 14px;
      align-items: center;
      padding-left: 9px;
    }
  }
}