body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: cursive;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: #490303;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e9e3e3;
}

.link:not(:last-child) {
  margin-right: 70px;
}

.link:hover {
  transform: scale(1.02);
}

.header {
  color: #490303;
  font-size: 7vw;
  margin-bottom: 5%;
  margin-top: 4%;
}

.services {
  display: flex;
}

.service-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-top: 6px solid white;
}

video {
  opacity: 0.7;
}

video:hover {
  opacity: 1;
}
