.more-dropdown {
  position: absolute;
  color: white;
  padding: 5px;
  width: 166px;
  background-color: #222222;
  top: 120%;
  right: 0;
}

.dropdown-item {
  border-radius: 4px;
  display: flex;
  margin: 2px 0;
}

.dropdown-item:hover {
  background-color: #444444;
}

.dropdown-item-description {
  display: flex;
  flex: 1;
  font-size: 14px;
  align-items: center;
  padding-left: 12px;
}